/* Reset styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Inherited styles */

html {
  font-size: 15px;
}

body {
  font-family: Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
  color: #2e313c;
}

p {
  line-height: 1.5;
  font-weight: lighter;
}

/* Links */
a:link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover {
  text-decoration: underline solid #000;
}

/* Container */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Home */
.main {
  width: 100vw;
  height: 100vh;
  background: url("https://ui8-assets.s3.us-east-1.amazonaws.com/yolo-shop/hero-banner/yolo-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 40px;
  padding: 0 30px 150px;
}

.main-content p {
  text-align: center;
}

.home-footer {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  padding: 0;
}

/* Hero Banner */
.hero-img {
  width: 100%;
  height: 500px;
  display: block;
  object-fit: cover;
  object-position: center;
}

.hero-signup {
  display: none;
}

.hero-signin {
  display: none;
}

/* Button */
.btn-secondary {
  font-size: 18px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 25px;
  /* property name | duration | delay | easing function */
  transition: text-decoration 0.2s 0s ease-in-out;
}

.btn-secondary:hover {
  text-decoration: line-through solid #ffed48;
}

/* Secondary button */
.btn-primary {
  background-color: #f9e900;
  border: none;
  width: 170px;
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #eada00;
}

.btn-contact {
  margin-bottom: 50px;
}

.btn-signup {
  margin-bottom: 50px;
}

.btn-signin {
  margin-bottom: 50px;
}

/* Outline button */
.btn-outline {
  background-color: transparent;
  border: 2px solid #000;
  width: 170px;
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Article section  */
.article-container {
  padding: 35px 30px 50px;
}

.article-title {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.article-container p {
  margin-bottom: 40px;
}

.article-container p:last-child {
  margin-bottom: 0;
}

.article-signin {
  padding-bottom: 130px;
}

/* Log in with social media */
.signin-account {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signin-social-media {
  list-style: none;
  display: flex;
  gap: 15px;
}

.signin-account p {
  margin: 0;
}

/* Contact information */
.contact-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-list img {
  display: inline-block;
  width: 18px;
}

.contact-list li {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: lighter;
}

/* Footer */
footer {
  max-width: 312px;
  margin: 0 auto;
  padding: 0px 10px;
  margin-bottom: 40px;
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.line {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #2e313c;
  vertical-align: middle;
}

.copyright {
  text-transform: uppercase;
}

/* Input */
.input-group {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 20px;
}

.input-label {
  display: inline-block;
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: 5px;
}

.input-area {
  display: flex;
  gap: 15px;
  align-items: center;
}

.input-field {
  font-family: inherit;
  border: none;
  font-weight: lighter;
  height: 25px;
  flex: 1 1 auto;
}

.input-conditions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-conditions span {
  font-weight: lighter;
}

/* Desktop breakpoint 1440 */
@media screen and (min-width: 970px) {
  body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
  }

  .container {
    position: relative;
    height: 100%;
  }

  /* Hero Banner */
  .hero-banner {
    display: flex;
    height: 100%;
  }

  .hero-img {
    width: 50%;
    height: 100%;
  }

  .hero-signup {
    display: block;
    object-position: 72%;
  }

  .hero-signin {
    display: block;
    object-position: 5%;
  }

  /* Subscribe */
  .hero-subscribe {
    order: 1;
  }

  /* Contact */
  .hero-contact {
    order: 1;
  }

  /* Article section */
  .article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 120px;
    flex: 1;
  }

  .article-title {
    font-size: 45px;
  }

  /* Footer */
  footer {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}
