/* Custom font face */
@font-face {
  font-family: "Coco gothic";
  src: url("../fonts/CocoGothic-Bold_trial.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Coco gothic";
  src: url("../fonts/CocoGothic_trial.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Reset styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Inherited styles */
html {
  font-size: 15px;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
  color: #2e313c;
}

p {
  line-height: 1.5;
  font-weight: lighter;
}

/* Links */
a:link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover {
  text-decoration: underline solid #000;
}

/* Main content */
.main__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
}

/* Footer */
footer {
  width: 312px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.fixed-footer {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.line {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #2e313c;
  vertical-align: middle;
}

.copyright {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* BREAKPOINTS */
/* 970px - Tablet & Desktop */
@media screen and (min-width: 970px) {
  /* Global */
  body {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
  }

  /* Footer */
  .absolute-footer {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}
