/* Custom font face */
@font-face {
  font-family: "Coco gothic";
  src: url("../fonts/CocoGothic-Bold_trial.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Coco gothic";
  src: url("../fonts/CocoGothic_trial.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Reset styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Inherited styles */
html {
  font-size: 15px;
}

body {
  font-family: Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
  color: #2e313c;
}

p {
  line-height: 1.5;
  font-weight: lighter;
}

/* Links */
a:link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover {
  text-decoration: underline solid #000;
}

/* Container */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Home */
.main {
  width: 100vw;
  height: 100vh;
  background: url("https://ui8-assets.s3.us-east-1.amazonaws.com/yolo-shop/hero-banner/yolo-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 40px;
  padding: 0 30px 150px;
}

.main-content p {
  text-align: center;
}

/* Hero Banner */
.hero-img {
  width: 100%;
  height: 500px;
  display: block;
  object-fit: cover;
  object-position: center;
}

.hero-signup {
  display: none;
}

.hero-signin {
  display: none;
}

/* Button */
.btn {
  font-size: 18px;
  width: 170px;
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Back button */
.btn-back {
  font-size: 18px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 25px;
  /* property name | duration | delay | easing function */
  transition: text-decoration 0.2s 0s ease-in-out;
}

.btn-back:hover {
  text-decoration: line-through solid #ffed48;
}

/* Primary button */
.btn-primary {
  background-color: #f9e900;
  border: none;
}

.btn-primary:hover {
  background-color: #eada00;
}

.btn-contact {
  margin-bottom: 50px;
}

.btn-signup {
  margin-bottom: 50px;
}

.btn-signin {
  margin-bottom: 50px;
}

/* Outline button */
.btn-outline {
  background-color: transparent;
  border: 2px solid #000;
}

.btn-outline:hover {
  border: 2px solid #eada00;
  background-color: #eada00;
}

/* Article section  */
.article-container {
  padding: 35px 30px 50px;
}

.article-title {
  font-family: "Coco gothic", sans-serif;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.article-container p {
  margin-bottom: 40px;
}

.article-container p:last-child {
  margin-bottom: 0;
}

.article-signin {
  padding-bottom: 130px;
}

/* Log in with social media */
.signin-account {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signin-social-media {
  list-style: none;
  display: flex;
  gap: 15px;
}

.signin-account p {
  margin: 0;
}

/* Contact information */
.contact-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-list img {
  display: inline-block;
  width: 18px;
}

.contact-list li {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: lighter;
}

/* Footer */
footer {
  width: 312px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.fixed-footer {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.line {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #2e313c;
  vertical-align: middle;
}

.copyright {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Input */
.input-group {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 20px;
}

.input-label {
  display: inline-block;
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: 5px;
}

.input-area {
  display: flex;
  gap: 15px;
  align-items: center;
}

.input-field {
  font-family: inherit;
  border: none;
  font-weight: lighter;
  height: 25px;
  flex: 1 1 auto;
}

.input-conditions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-conditions span {
  font-weight: lighter;
}

/* GLOBAL STYLES */
/* header */
.main-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-title {
  font-family: "Coco gothic", Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main-section .btn-back {
  margin-bottom: 0;
}

/* Catalogue */
.container-catalogue {
  padding: 24px 24px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.catalogue {
  display: grid;
  row-gap: 20px;
}

.main-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 15px;
}

.item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
  background-color: #fff;
}

.item-box__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-box__header h3 {
  font-size: 18px;
}

.item-box__header span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: lighter;
}

.item-box__header span img {
  display: inline-block;
  width: 18px;
}

.item-box__body {
  width: 100%;
  max-width: 366px;
  position: relative;
}

.item-box__body img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* buttons */
.navigate-buttons {
  display: none;
}

.btn-cart {
  border: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e313c;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-cart img {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.btn-cart:hover {
  background-color: #000;
}

/*  Filter */
.filter-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-filter {
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: text-decoration 0.2s ease-in-out;
}

.button-filter:hover {
  text-decoration: line-through solid #ffed48;
}

/* Desktop breakpoint 1440 */
@media screen and (min-width: 970px) {
  body {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
  }

  .container {
    position: relative;
    flex: 1;
  }

  /* Hero Banner */
  .hero-banner {
    display: flex;
    height: 100%;
  }

  .hero-img {
    width: 50%;
    height: 100%;
  }

  .hero-signup {
    display: block;
    object-position: 72%;
  }

  .hero-signin {
    display: block;
    object-position: 5%;
  }

  /* Subscribe */
  .hero-subscribe {
    order: 1;
  }

  /* Contact */
  .hero-contact {
    order: 1;
  }

  /* Article section */
  .article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 120px;
    flex: 1;
  }

  .article-title {
    font-size: 45px;
  }

  /* GLOBAL STYLES */
  .main-title {
    font-size: 45px;
  }

  /* Catalogue */
  .container-catalogue {
    padding: 0 118px 30px;
    gap: 40px;
  }

  .catalogue {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .catalogue article:nth-child(2),
  article:nth-child(3) {
    justify-content: center;
  }

  .main-text {
    grid-area: 1 / 3 / 2 / -1;
    justify-content: flex-start;
    padding-left: 100px;
    padding-bottom: 0;
  }

  .navigate-buttons {
    display: flex;
  }

  .btn-navigate {
    border: 2px solid #000;
    background-color: transparent;
    padding: 12px 13.5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .btn-navigate:hover {
    background-color: #d2d2d2;
  }

  .navigate-left {
    border-right: 0px;
  }

  /* filter */
  .filter-area {
    justify-content: flex-start;
    gap: 40px;
  }

  /* Footer */
  .absolute-footer {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}
