/* Wrapper */
.wrapper {
  /* Needed for hero banner */
  position: relative;
  /* Fill remaining 
    space of its flex container*/
  width: 100%;
}

/* Container */
.container {
  /* layout highlight */
  height: 100%;
  /* Set padding left and right sides */
  padding: 0 24px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 970px) {
  /* Wrapper */
  .wrapper {
    /* Constrained to a maximun width */
    max-width: 1440px;
    /* Center wrapper */
    margin: 0 auto;
  }

  /* Container */
  .container {
    /* Set container's maximun width */
    max-width: 1192px;
    /* Center content */
    margin: 0 auto;
    /* Remove padding */
    padding: 0;
  }
}
