/* CART STYLESHEET */
/* Layout */
.cart {
  display: grid;
  row-gap: 30px;
}

.cart .btn-back {
  margin: 0;
}

/* ITEM CARD */
.item__card {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  align-items: start;
  gap: 30px;
}

/* Image preview */
.item__preview {
  height: 186px;
  position: relative;
}

.item__preview > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.cart__ticket {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 72px;
  height: 24px;
  background-color: #2e313c;
  font-size: 12px;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.cart__ticket img {
  display: inline-block;
  width: 18px;
  height: 18px;
}

/* Item info */
.item__info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.item__name {
  font-size: 18px;
  font-weight: bold;
}

.item__details span {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.item__info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #828282;
  font-weight: lighter;
}

.item__price {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #000000;
  margin-top: 10px;
}

/* Qty */
.product__qty__container {
  align-self: end;
}

.product__qty {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title */
.details-title {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Buttons */
.product__qty__buttons {
  display: flex;
  width: 90px;
  height: 30px;
}

.btn-qty {
  width: 30px;
  height: 100%;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  font-size: 18px;
}

.btn-qty:hover {
  background-color: #f4f4f4;
}

.qty__value {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Colors */
.product__color__container {
  width: 135px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: end;
}

.product__colors ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.color__choice {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  transition: border 0.2s ease-in-out;
}

.color__choice:hover {
  border: 2px solid #cccccc;
}

.color__choice::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-choice-one::after {
  background-color: #f2d9ec;
}

.color-choice-two::after {
  background-color: #7aece2;
}

.color-choice-three::after {
  background-color: #f9e900;
}

.color-choice-four::after {
  background-color: #c0c8ed;
}

.color-selected {
  border: 2px solid #000000;
  opacity: 1;
}

.color-selected:hover {
  border: 2px solid #000;
}

/* Disabled color choice */
.color__disabled {
  opacity: 0.3;
}

.color__disabled:hover {
  border: 1px solid #f2f2f2;
}

/* Sizes */
.product__size__container {
  width: 186px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product__sizes ul {
  list-style: none;
  display: flex;
  height: 39px;
}

.size__choice {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-width: 2px 2px 2px 0;
  border-color: #f2f2f2;
  border-style: solid;
  cursor: default;
  transition: background-color 0.2s ease-in-out;
}

.size__choice:hover {
  background-color: #f4f4f4;
}

.size__choice:first-child {
  border-left: 2px solid #f2f2f2;
}

.sold-out {
  background-color: #f4f4f4;
  color: #cccccc;
}

.size-selected {
  border: 2px solid #000;
}

.size-selected:hover {
  background-color: transparent;
}

/*  Disabled size choice */
.size__disabled {
  background-color: #ffffff;
  color: #efefef;
  border-right: 2px solid #efefef;
}

.size__disabled:hover {
  background-color: #ffffff;
}

/* Delete button */
.type__button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 40%;
  cursor: pointer;
}

.type__button img {
  width: 32px;
  height: 32px;
}

/* Summary */
.order__summary {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 366px;
}

/* Title */
.summary__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary__title h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 2px;
}

/* Details */
.summary__details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.summary__header {
  display: flex;
  flex-direction: column;
}

.summary__header p,
span {
  color: #828282;
  font-weight: lighter;
}

.summary__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.summary__list span {
  flex: 0 1 50px;
}

.summary__total > p,
.summary__total > span {
  font-weight: bold;
  color: #2e313c;
}

.summary__shipping span {
  text-transform: uppercase;
}

/* Summary footer */
.summary__footer > p {
  color: #828282;
}

.summary__strong {
  color: #2e313c;
  font-weight: bold;
}

.summary__strong:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
}

.summary__strong:nth-child(3) {
  text-decoration: underline;
  cursor: pointer;
}

/* Summary buttons */
.summary__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;
}

.summary__buttons .btn {
  width: 190px;
}

.btn__shopping {
  background-color: #ffffff;
}

.btn__shopping:hover {
  background-color: #f2f2f2;
}

.btn__checkout {
  background-color: #000000;
  color: #ffffff;
}

.btn__checkout:hover {
  background-color: #2e313c;
}

@media screen and (min-width: 414px) {
  /* ITEM CARD */
  .item__card {
    grid-template-columns: repeat(2, auto);
    max-width: 366px;
  }

  /* Item Preview */
  .item__preview {
    grid-area: 1 / 1 / 2 / 3;
  }

  /* Item Info */
  .item__info {
    grid-area: 2 / 1 / 4 / 2;
  }

  /* Qty */
  .product__qty__container {
    grid-area: 2 / 2 / 4 / 3;
  }

  /* Color */
  .product__color__container {
    justify-self: end;
  }
}
