.checkout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkout .btn-back {
  margin: 0;
}

.checkout__form {
  display: grid;
  row-gap: 30px;
}

.checkout__title {
  font-family: "Coco gothic", Helvetica, sans-serif;
  font-size: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Form */
.form-title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 10px;
}

.form-group .input-group {
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/* Checkbox */
.form__checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.form__checkbox span {
  flex: 1 1 auto;
}

/* Parent container */
.form__checkbox label {
  width: 44px;
  height: 25px;
  position: relative;
}

/* Hide checkbox */
.form__checkbox input[type="checkbox"] {
  width: 0;
  height: 0;
  opacity: 0;
}

/* Toggle switch */
.switch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #a4a4a4;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.switch::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 7px;
  height: 17px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked + .switch {
  background-color: #34d39a;
}

input[type="checkbox"]:checked + .switch::before {
  translate: 18px;
}

/* Payment */
.payment__info .input-group:nth-child(4) {
  order: 1;
}

/* MEDIA QUERIES */
@media screen and (min-width: 414px) {
  /* Payment */
  .payment__info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-title,
  .input-group {
    flex: 0 1 100%;
  }

  .payment__info .input-group:nth-child(4) {
    flex: 0 1 48%;
  }

  .payment__info .input-group:nth-child(5) {
    flex: 0 1 48%;
  }
}

@media screen and (min-width: 970px) {
  /* Checkout title */
  .checkout__title {
    font-size: 45px;
  }

  /* Form */
  .checkout__form {
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
    column-gap: 12px;
  }

  /* Form group */
  .form-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .input-group {
    flex: 0 1 286px;
  }

  /* Name & last name */
  .user__names {
    grid-area: 1 / 1 / 2 / 3;
    justify-content: space-between;
  }

  /* Payment */
  .payment__info {
    grid-area: 2 / 1 / 3 / 3;
  }

  /* Billing address */
  .billing__address {
    grid-area: 1 / 3 / 3 / 5;
  }

  /* Terms & conditions */
  .form__checkbox {
    grid-area: 3 / 1 / 4 / 3;
    max-width: 485px;
    width: 100%;
  }

  /* Pay button */
  .checkout__form .btn {
    margin-top: 20px;
    grid-area: 4 / 1 / 5 / 2;
  }
}
