/* MY ORDER STYLESHEET */
/* Content */
.order__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order__body {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
}

.order__title {
  display: none;
}

/* Order component */
.order__details {
  max-width: 366px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.order__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.order__info-title {
  width: 100%;
  text-transform: capitalize;
  font-size: 18px;
  text-align: start;
}

.order__data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order__data span:first-child {
  color: #7e959e;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.order__data span:last-child {
  font-weight: lighter;
}

/* Order items */
.order__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.order__items img {
  width: 100px;
  height: 100px;
}

.order__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.order__buttons button {
  width: 200px;
}

/* Order canceled */
.order__canceled {
  border: 1px solid #f2f2f2;
}

.data__canceled {
  opacity: 0.5;
}

/* BREAKPOINTS */
/* 970px - Tablet & Desktop */
@media screen and (min-width: 970px) {
  /* Overriden default layout */
  .account__content {
    grid-area: 1 / 2 / 5 / -1;
  }

  /* Content title */
  .order__title {
    display: block;
    font-size: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  /* Order */
  .order__body {
    margin-top: 30px;
  }

  .order__details {
    max-width: initial;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .order__info {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .order__info-title {
    width: auto;
    flex: 1 1 auto;
  }

  .order__id {
    flex: 1 0 auto;
    text-align: end;
  }

  .order__delivered {
    flex: 1 0 auto;
    text-align: end;
  }

  /* Items */
  .order__items {
    gap: 15px;
    justify-content: flex-start;
  }

  .order__items img {
    width: 118px;
    height: 118px;
  }

  /* Buttons */
  .order__buttons {
    gap: 8px;
  }

  .order__buttons button:first-child {
    flex: 1 1 auto;
  }

  .order__buttons button:last-child {
    flex: 1 1 auto;
  }

  /* Order canceled */
  .order__canceled .order__buttons button {
    flex: 0 1 auto;
  }
}
