/* SIGNUP STYLESHEET */
/* Layout */
.hero-img {
  display: none;
}

/* Button */
.btn-signup {
  margin-bottom: 50px;
}

/* BREAKPOINTS */
/* 970px - Tablet & Desktop */
@media screen and (min-width: 970px) {
  .hero-img {
    display: block;
    object-position: 72%;
  }
}
