/* SIGNIN STYLESHEET */
/* Layout */
.hero-signin {
  display: none;
}

/* Social media */
.signin-account {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signin-social-media {
  list-style: none;
  display: flex;
  gap: 15px;
}

.signin-account p {
  margin: 0;
}

.article-signin {
  padding-bottom: 130px;
}

/* Button */
.btn-signin {
  margin-bottom: 50px;
}

/* BREAKPOINTS */
/* 970px - Tablet & Desktop */
@media screen and (min-width: 970px) {
  .hero-signin {
    display: block;
    object-position: 5%;
  }
}
