/* ACCOUNT MENU STYLESHEET */
/* Title */
.account__title {
  font-family: "Coco gothic", Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Profile description */
.account__user {
  display: flex;
  gap: 20px;
  align-items: center;
}

.account__photo {
  width: 60px;
  height: 60px;
}

.account__photo img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.account__description {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

/* List menu */
.account__lists ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.account__option {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 74px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #f2f2f2;
}

.account__option:hover {
  border-radius: 8px;
  background-color: #f4f4f4;
}

.account__option span {
  flex: 1;
  text-transform: capitalize;
  text-decoration: underline;
}

.option-active {
  order: -1;
}

.account__option img:nth-child(4) {
  display: none;
}

/* BREAKPOINTS */
/* 970px - Tablet & Desktop */
@media screen and (min-width: 970px) {
  /* Title */
  .account__title {
    padding: 15px 0;
    font-size: 45px;
  }

  /* Dropdown icon */
  .account__option img:nth-child(4) {
    display: inline-block;
  }

  .account__option img:nth-child(3) {
    display: none;
  }

  /* Active option */
  .option-active img:first-child {
    background-color: #f9e900;
    align-self: stretch;
    width: 24px;
  }

  .option-active {
    order: initial;
  }

  .option-active span {
    font-weight: bold;
    text-decoration: line-through;
  }
}
